.new-post {
  margin: 25px 10px 10px 0px;
  .card {
    padding: 10px;
  }
  .form {
    width: 80%;
    .textarea {
      resize: none;
      width: 100%;
      border-style: none;
      outline: none;
      height: 100px;
    }
    .button {
      border-radius: 5px;
      float: right;
    }
  }

  .text-muted {
    font-size: 12px;
  }
}
